{% extends "blog/base.html" %}
{% block content %}
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->



<!--{% for inst in Accountbooks %}-->
<!--{% if request.user.username == inst.Accountid.username  %}-->
<!--<p>{{ inst.bookid.name }}</p>-->
<!--{% endif %}-->
<!--{% endfor %}-->

  <div class="site-section" id="products-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center">
            <h3 class="section-sub-title">Book Store</h3>
            <h2 class="section-title mb-3">Your Likes</h2>
            <p>Here's variety of book categories and unique packages that appeal to different customers’ preferences , We manage to serve different tastes of readers and to give them personalized service</p>
          </div>
        </div>
        <div class="row">

{% for inst in Accountbooks %}
          <div class="col-lg-4 col-md-6 mb-5">
            <div class="product-item">
              <figure >
                <img style="width:300;height:300;padding:auto;" src="{{ inst.bookid.book_profile.image.url }}" alt="Image" class="img-fluid">
              </figure>
              <div class="px-4">
              {% if request.user.username == inst.Accountid.username  %}
                <h3><a href="#">{{inst.bookid.name}}</a></h3>
                <p class="mb-4"><small>Book Author : </small>{{inst.bookid.author}}</p>
                <p class="mb-4"><small>Book Price : </small>{{inst.bookid.price}}</p>
                <div>
                  <a href="#" class="btn btn-black mr-1 rounded-0">Cart</a>
                  <a href="{% url 'book_profile' inst.bookid.id%}" class="btn btn-black btn-outline-black ml-1 rounded-0">View</a>
                </div>
              </div>
            </div>
          </div>

          {% endif %}
{% endfor %}


          </div>
      </div>
    </div>

{%endblock%}
