
{% extends "blog/base.html" %}
{% block content %}
{% load static %}
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/swiper.min.css' %}">
  <style>
  .swiper-container {
      width: 100%;
      padding:auto;
      position: relative;
      height: 390px;

    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      height:380px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

    }
  </style>
</head>

<body>
<script type="text/javascript" src="{% static 'blog/swiper.min.js' %}"></script>

    <div class="site-section" id="products-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center">
            <h3 class="section-sub-title">Book Store</h3>
            <h2 class="section-title mb-3">Our Products</h2>
            <p>Here's variety of book categories and unique packages that appeal to different customers’ preferences , We manage to serve different tastes of readers and to give them personalized service</p>
            <p>Some Recommendations specially for you</p>
          </div>



                  <div class="swiper-container" >
                  <div class="swiper-wrapper">
                    {%for object in object_list %}
                    {% if object.category.name == request.session.taste %}
                    <div class="swiper-slide" style="height:100%;" >
                    <div class="imgbox"  >
                    <img style="height:300px;" src="{{ object.cover.url }}">
                    <div class="detail"  >
                    <h5>{{object.name}}<br><span>{{object.author}}</span></h5>
                    </div>
                    </div>
                    </div>
                    {%endif%}
                    {%endfor%}

                  </div>
                  <!-- Add Pagination -->
                  <div class="swiper-pagination"></div>
                  <!-- Add Arrows -->
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                  </div>



</div>
        <hr>
<div class="row">


{% for object in object_list%}
          <div class="col-lg-4 col-md-6 mb-5">
            <div class="product-item">
              <figure >
                <img style="width:300;height:300;padding:auto;" src="{{ object.cover.url }}" alt="Image" class="img-fluid">
              </figure>
              <div class="px-4">
                <h3><a href="#">{{object.name}}</a></h3>
                <!--<div class="mb-3">-->
                  <!--<span class="meta-icons mr-3"><a href="#" class="mr-2"><span class="icon-star text-warning"></span></a> 5.0</span>-->
                  <!--<span class="meta-icons wishlist"><a href="#" class="mr-2"><span class="icon-heart"></span></a> 29</span>-->
                <!--</div>-->
                <p class="mb-4"><small>Book Author : </small>{{object.author}}</p>
                <p class="mb-4" style="text-decoration:line-through" ><small>Book Price : </small>{{object.price}}</p>
                <div>

		{% if object in user.profile.ebooks.all %}
	            <!-- add a button here to see the product -->
		            You own this
                  {% elif object in current_order_products %}
                    <a href="{% url 'store:order_summary' %}" class="btn btn-black btn-outline-black ml-1 rounded-0">Go to Cart</a>
                  {% else %}
                    <a href="{% url 'store:add_to_cart' object.id%}" class="btn btn-black btn-outline-black ml-1 rounded-0">Add to Cart</a>
                  {% endif %}
                  <a href="{% url 'store:book_profile' object.id%}" class="btn btn-black btn-outline-black ml-1 rounded-0">View</a>
                  <a href="{% url 'store:addToLikes' object.id %}" class="btn btn-black btn-outline-black ml-1 rounded-0">Add to like</a>

                </div>
              </div>
            </div>
          </div>
{%endfor%}

          </div>
      </div>
    </div>
<script>
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
</body>
</html>
{%endblock%}