{% extends "blog/base.html" %}
{% block content %}-

<div class="site-section bg-light">
      <div class="container">
            <div class="row mb-5 justify-content-center">
              <div class="col-md-6 text-center">
                <h3 class="section-sub-title">Get in touch with your writers</h3>
                <h2 class="section-title mb-3">Authors Posts</h2>
                <p>A huge number of writers and their daily posts</p>
              </div>
            </div>
          {% for post in posts %}
            <div class="bg-white py-4 mb-4">
              <div class="row mx-4 my-4 product-item-2 align-items-start">
                <div class="col-md-6 mb-5 mb-md-0">
                  <img style="width:300px;height:300px" src="{{ post.name.profile.image.url }}" alt="Image" class="img-fluid">
                </div>

                <div class="col-md-5 ml-auto product-title-wrap">
                  <span class="number"></span>
                  <h3 class="text-black mb-4 font-weight-bold">{{ post.title }}</h3>
                  <p class="mb-4">{{ post.content }}</p>


                  <div class="mb-4">
                    <h3 class="text-black font-weight-bold h5"><small>Written by : </small>{{ post.name }}</h3>
                    <div class="price"><small>Posted on  : </small>{{ post.date }}</div>
                  </div>
                  <p>
                    <!--<a href="#" class="btn btn-black btn-outline-black rounded-0 d-block mb-2 mb-lg-0 d-lg-inline-block">View Details</a>-->
                    <a href="#" class="btn btn-black rounded-0 d-block d-lg-inline-block">Add Comment</a>
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}

      </div>
</div>
{% endblock content %}